{% include 'header.html' %}

<div>
    <form method="post" action="/maximo_comun_divisor"></form>
        <section class="contenedor">

            <div class="c4">

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default"></span>
                <input name="numero1" placeholder="Escribelo aqui..." type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
                
            <div class="input-group mb-3">
                <span class="input-group-text" ></span>
                <input name="numero2" placeholder="Escribelo aqui..." type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            


                
            </div>

            <div class="c2">
                <button class="btn btn-primary" type="submit">Euclides</button> 
                <br><br>
                <button class="btn btn-secondary" type="submit">MCD</button>
                <br><br>
                <button class="btn btn-success" type="submit">MCM</button>
                <br><br>
            </div>

        
        
        </section>
    </form>

{% include 'footer.html' %}